@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

        :root {
            --main-color: #333333;
            --accent-color: #202020;
            --text-color: white;
        }
/* 
        @font-face {
            font-family: 'Montserrat';
            src: url('/Montserrat-Regular.woff');
            src: local('☺'), url('/Montserrat-Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        } */

        #main {
            max-width: 1140px;
            margin: auto;
            background-color: #333333;
            /* font-family: 'Montserrat', sans-serif; */
        }

        #body {
            background-color: #333333;
            /* font-family: 'Montserrat', sans-serif; */
        }

        #seo-row,
        #seo-row-c {
            font-family: 'Montserrat', sans-serif;

        }




        body {
            margin: 0;
            font-family: var(--bs-font-sans-serif);
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;

            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: transparent;
        }



        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 0;
            margin-bottom: .5rem;
        }

        img,
        svg {
            vertical-align: middle;
        }

        p {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        /* navigation */
        body {

            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;

            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: transparent;
        }

        .nav-section {
            max-width: 924px;
        }

        .nav-section-a {
            display: flex;
            flex-direction: row;
            margin-top: 15px;
            margin-bottom: 15px;
            color: var(--text-color);
            justify-content: space-between;
        }

        .nav-section-b {
            display: flex;
            flex-direction: row;
            position: relative;
            right: 222px;
            width: 1140px;
            justify-content: space-between;
        }

        .nav-section-b div.nav-item.dropdown {
            margin-right: 55px;
            margin-bottom: 3px;
        }



        .nav-number {
            margin-bottom: 0;
            display: flex;
            align-items: center;
            margin-left: 23px;
            margin-right: 20px;

        }

        .nav-section {
            display: flex;
            flex-direction: column;
        }

        a.navbar-brand {
            margin-bottom: 55px;
        }

        .navbar-brand img {
            width: 205px;
            height: 40px;
        }

        .button-cons {
            color: var(--text-color);
            background: linear-gradient(93.58deg, #404040 0.2%, #232323 100%);
            box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.65), -5px -5px 25px #444444;
            border-radius: 100px;
            border: none;
            width: 280px;
            height: 40px;
        }

        a.dropdown-toggle {
            color: var(--text-color);
        }

        .container-fluid {
            padding: 0;
            width: 1140px;
        }

        nav#menu {
            padding: 0;
        }

        header {
            display: flex;
            justify-content: center;
            background: #333333;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.55);
        }

        ul.dropdown-menu.show {
            background: linear-gradient(93.58deg, #313131 0.2%, #202020 100%);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75), -10px -10px 15px rgba(49, 49, 49, 0.5);
            border-radius: 20px;
            border: none;
        }

        a.dropdown-item {
            color: rgba(255, 255, 255, 0.75);
        }

        .dropdown-item.active,
        .dropdown-item:active {
            background: none;
        }

        .dropdown-item {
            border-radius: 20px;
        }

        .dropdown-toggle::after {
            background-image: url(../img/nav.jpg);
            background-size: 15px 8px;
            display: inline-block;
            width: 15px;
            height: 8px;
            content: "";
            border: none;
            position: relative;
            top: 4px;
        }

        /* Dropdown Button */
        .dropbtn-a {
            background-color: rgba(255, 255, 255, 0);
            ;
            color: var(--text-color);
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            border: none;
            padding: 10px 1px;

        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown-a {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content-a {
            display: none;
            position: absolute;
            z-index: 1;
            width: 1140px;
            height: 350px;
            background: linear-gradient(93.58deg, #313131 0.2%, #202020 100%);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75), -10px -10px 15px rgba(49, 49, 49, 0.5);
            border-radius: 20px;
            padding: 25px 57px;

        }

        /* Links inside the dropdown */
        .dropdown-content-a a {
            color: var(--text-color);
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content-a a:hover {
            background-color:
        }

        /* Show the dropdown menu on hover */
        .dropdown-a:hover .dropdown-content-a {
            display: block;
        }


        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown-a:hover .dropbtn-a {
            background-color:
        }


        .dropdown-a::after {
            background-image: url(../img/nav.jpg);
            background-size: 15px 8px;
            display: inline-block;
            width: 15px;
            height: 8px;
            content: "";
            border: none;
        }

        .nav-img {
            width: 41px;
            height: 41px;
            background: #C4C4C4;
            border-radius: 50px;
        }

        .nav-list-img h3 {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            margin-left: 14px;
            margin-bottom: 5px;
            color: var(--text-color);
        }

        .nav-list-p {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: rgba(255, 255, 255, 0.75);
            margin-left: 18px;
        }

        .nav-list p {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.75);
        }

        .nav-list-img {
            display: flex;
            flex-direction: row;
        }

        .list-p {
            margin-top: 30px;
        }

        .nav-list-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        /*/////////////////////////////*/

        .dropdown-center-a {
            left: -221px;
        }

        .dropdown-center-b {
            left: -325px;
        }

        .dropdown-center-c {
            left: -416px;
        }

        .dropdown-center-d {
            left: 1px;
        }

        .dropdown-center-e {
            left: -372px;
        }

        .dropdown-center-f {
            left: -109px;
        }

        .dropdown-center-g {
            left: -546px;
        }

        .dropdown-center-h {
            left: -821px;
        }

        .dropdown-center-i {
            left: -944px;
        }

        .navbar>.container,
        .navbar>.container-fluid,
        .navbar>.container-lg,
        .navbar>.container-md,
        .navbar>.container-sm,
        .navbar>.container-xl,
        .navbar>.container-xxl {
            display: flex;
            flex-wrap: inherit;
            align-items: center;
            justify-content: space-between;
        }






        /* SEO */


        .seo-row {
            display: flex;
            flex-direction: row;
            margin-top: 50px;
        }

        .btn-seo-row {
            display: flex;
            flex-direction: row;
        }

        .seo-title {
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 55px;
            color: #ffffff;
            max-width: 555px;
            max-height: 45px;

        }

        .seo-text p {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: rgba(255, 255, 255, 0.83);
            max-width: 555px;
            max-height: 71px;
            margin-top: 73px;
            margin-right: 30px;
        }

        .btn-get-free {
            width: 234px;
            height: 50px;
            background: linear-gradient(279.29deg, #FF732F 7.03%, #FBBC04 92.97%);
            box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.65), -5px -5px 25px #444444;
            border-radius: 100px;

            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 58px;
        }

        .btn-get-free a {
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
        }

        .btn-give-bonus {
            width: 235px;
            height: 50px;
            background: #333333;
            box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.65), -5px -5px 25px #444444;
            border-radius: 105px;

            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 58px;
            margin-left: 50px;
        }

        .btn-give-bonus a {
            text-decoration: none;
            font-weight: 600;
            font-size: 16px;
            color: #ffffff;
        }

        .btn-give-bonus a img {
            margin-left: 5px;
            margin-bottom: 5px;
        }

        .seo-img {
            width: 555px;
            height: 312px;
            border-radius: 10px;
        }

        .seo-image p {
            text-align: right;
            text-decoration: underline;
            color: rgba(255, 255, 255, 0.83);
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }

        /* SEO s2 */

        .seo-row-c {
            display: flex;
            flex-direction: row;
            margin-top: 185px;
            height: 380px;
        }

        .seo-img img {
            width: 462px;
            height: 362px;
            border-radius: 10px;
        }

        .seo-txt {
            margin-left: 48px;
        }

        .seo-subtitle {
            font-style: normal;
            font-weight: bold;
            font-size: 38px;
            line-height: 45px;
            color: var(--text-color);
            margin-bottom: 26px;
        }

        .seo-txt p {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: rgba(255, 255, 255, 0.83);
            margin-bottom: 0px;
            margin-top: 0px;
        }

        .seo-subtitle-c {
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 35px;
            color: var(--text-color);
            margin-bottom: 26px;
            margin-top: 25px;
        }

        /* seo-list */

        .seo-list {
            width: 1140px;
            height: 289px;
            background-color: var(--accent-color);
            border-radius: 20px;
            padding: 28px 44px 0px 44px;
            margin-top: 135px;
            margin-bottom: 175px;
        }

        .seo-list h2 {
            font-style: normal;
            font-weight: bold;
            font-size: 38px;
            line-height: 45px;
            color: var(--text-color);
            margin-bottom: 24px;
        }

        .seo-list-c p {
            text-decoration-line: underline;
        }

        .seo-list-c {
            color: rgba(255, 255, 255, 0.82);
            display: grid;
            grid-template-columns: 345px 345px 345px;
            grid-column-gap: 25px;

        }

        .seo-list-c a {
            color: rgba(255, 255, 255, 0.82)
        }

        .seo-list-href {
            margin-bottom: 1rem;
        }

        *,
        ::after,
        ::before {
            box-sizing: border-box;
        }



        @media (max-device-width : 1160px) {

            #main {
                max-width: 768px;
                margin: auto;
            }

            /* seo */

            .seo-subtitle-c {
           
            margin-top: 0px;
        }

            .seo-img {
                max-width: 370px;
                height: auto;
            }

            .seo-title {
                font-size: 32px;
                line-height: 32px;
            }

            .seo-text p {
                font-size: 12px;
                margin-top: 49px;
                line-height: 17.4px;

                margin-bottom: 0px;
            }

            .btn-give-bonus {
                width: 157px;
                margin: 33px 0px 0px 20px;
                height: 34px;
            }

            .btn-get-free {
                width: 157px;
                margin: 33px 0px 0px 0px;
                height: 34px;
            }

            .btn-get-free a {
                font-size: 12px;
            }

            .btn-give-bonus a {
                font-size: 12px;
            }

            .btn-give-bonus a img {
                width: 22px;
            }

            .seo-image p {
                font-size: 8px;
            }

            /* seo-row 8*/

            .seo-row-c {
                margin-top: 124px;
                height: 271px;
            }

            .seo-img img {
                width: 310px;
                height: 243px;
            }

            .seo-subtitle {
                font-size: 25px;
                line-height: 30px;
                margin-bottom: 18px;
            }

            .seo-txt {
                margin-left: 32px;
            }

            .seo-txt p {
                font-size: 11px;
                line-height: 17px;
                margin-bottom: 18px;
            }

            .seo-subtitle-c {
                font-size: 18px;
                line-height: 23px;
                margin-bottom: 18px;

            }
        }

        @media only screen and (min-device-width : 320px) and (max-device-width : 767px) {


            #main {
                max-width: 315px;
                margin: auto;
            }

            /* seo */

            section#seo-row {
                height: 460px;
            }



            .seo-text p {
                font-size: 15px;
                margin-bottom: 20px;
            }

            .seo-row {
                flex-direction: column;
            }

            .seo-img {
                max-width: 100%;
                height: auto;
            }

            .btn-get-free {
                margin-bottom: 30px;
                margin-top: 30px;
                height: 40px;
                width: 150px
            }

            .btn-give-bonus {
                margin-bottom: 30px;
                margin-top: 30px;
                height: 40px;
                width: 150px;
            }

            .seo-title {
                font-size: 31px;
            }

            .seo-text p {
                margin-top: 30px;
            }

            /* seo */

            .seo-txt p {
                font-size: 14px;
                width: 267px;
            }

            .seo-row-c {
                flex-direction: column;
                height: 717px;
            }

            .seo-img img {
                width: 315px;
                height: 245px;
            }

            .seo-txt {
                margin-left: 0px;
                display: flex;

                flex-direction: column;
                align-items: center;
            }

            .seo-subtitle {
                margin-top: 20px;
            }

            /* seo-list */

            .seo-list-c {
                grid-template-columns: 260px;

            }

            .seo-list {
                width: 315px;
                height: 550px;
            }

            .seo-list-href {
                margin-bottom: 5px;
            }

            .seo-list-c a {
                font-size: 13px;
            }

        }